# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

.DS_Store
/*smex-items
/eshell
/ido.last
/projectile-bookmarks.eld
/recentf
/tramp
/var
/yasnippet-snippets
/custom.el
